<!DOCTYPE html>
<html>
<head>
    <title>RunRun Rabbit!</title>
    <link href="/site.css" rel="stylesheet">
</head>
<body>
<div id="container" class="container settings">
    <h1>RunRun Rabbit!</h1>
    <form method="post">
        <h3>
            <label for="username">Please choose a username:</label>
            <input id="username" name="username" type="text" value="{{user.name}}">
            <input type="submit" class="btn player-0">
        </h3>
    </form>
    {{#user}}
        <a class="btn btn-lg player-1" href="/multiplayer">Start playing now!</a>
    {{/user}}
</div>
</body>
</html>