<!DOCTYPE html>
<html>
<head>
    <title>RunRun Rabbit!</title>
    <link href="/site.css" rel="stylesheet">
</head>
<body>
<h1><a href="/">RunRun Rabbit!</a></h1>
<div id="container" class="container settings">
    {{#success}}
        <h4 class="success">{{success}}</h4>
    {{/success}}
    {{#error}}
        <h4 class="error">{{error}}</h4>
    {{/error}}
    <form method="post" action="/user/name">
        <h3>
            {{^persisted}}
                <label for="username">New users, please choose a username&hellip;</label>
            {{/persisted}}
            {{#persisted}}
                <label for="username">You are logged in as</label>
            {{/persisted}}
                <input id="username" name="username" type="text" value="{{username}}" maxlength="20">
            {{^persisted}}
                <input type="submit" class="btn player-0" value="OK">
            {{/persisted}}
            {{#persisted}}
                <input type="submit" class="btn player-0" value="Update username">
            {{/persisted}}
        </h3>
    </form>
    {{#persisted}}
        <a class="btn btn-lg player-1" href="/multiplayer">Start playing now!</a>
        <br />
        <br />
    {{/persisted}}
    {{#details.providers}}
        <h2>Profile</h2>
        <div class="profile">
            <img src="{{#details.avatar}}200{{/details.avatar}}" />
            <dl>
                <dt><label for="gravatar">Gravatar email address</label></dt>
                <dd>
                    <form method="post">
                        <input type="text" name="gravatar" id="gravatar" value="{{details.gravatar}}">
                        <input type="submit" class="btn player-0" value="Update">
                    </form>
                </dd>
                <dt>Facebook Account</dt>
                <dd>
                    {{#details.providers.facebook}}
                        <form method="post" action="/user/remove-account">
                            {{details.providers.facebook}}
                            <input type="hidden" name="provider" value="facebook">
                            <input type="submit" class="btn player-2" value="x" title="Remove">
                        </form>
                    {{/details.providers.facebook}}
                    {{^details.providers.facebook}}
                        <a class="btn social facebook" href="/auth/facebook">Sign in with Facebook</a>
                    {{/details.providers.facebook}}
                </dd>
                <dt>Twitter Account</dt>
                <dd>
                    {{#details.providers.twitter}}
                        <form method="post" action="/user/remove-account">
                            {{details.providers.twitter}}
                            <input type="hidden" name="provider" value="twitter">
                            <input type="submit" class="btn player-2" value="x" title="Remove">
                        </form>
                    {{/details.providers.twitter}}
                    {{^details.providers.twitter}}
                        <a class="btn social twitter" href="/auth/twitter">Sign in with Twitter</a>
                    {{/details.providers.twitter}}
                </dd>
                <dt>Google Account</dt>
                <dd>
                    {{#details.providers.google}}
                        <form method="post" action="/user/remove-account">
                            {{details.providers.google}}
                            <input type="hidden" name="provider" value="google">
                            <input type="submit" class="btn player-2" value="x" title="Remove">
                        </form>
                    {{/details.providers.google}}
                    {{^details.providers.google}}
                        <a class="btn social google" href="/auth/google">Sign in with Google</a>
                    {{/details.providers.google}}
                </dd>
            </dl>
        </div>
    {{/details.providers}}
    {{^details.providers}}
        <h3>&hellip;or&nbsp;
            <a class="btn social facebook" href="/auth/facebook">Sign in with Facebook</a>
            <a class="btn social twitter" href="/auth/twitter">Sign in with Twitter</a>
            <a class="btn social google" href="/auth/google">Sign in with Google</a>
        </h3>
        <br />
        <div class="col">
            Sign in is not required, but will allow you to:
            <ul>
                <li>Reserve your username indefinitely</li>
                <li>Use the same name across all of your devices</li>
                <li>Choose a custom avatar</li>
                <li class="inactive">Appear in high score tables (coming soon!)</li>
            </ul>
        </div>
    {{/details.providers}}
    <script>
        // Workaround for https://github.com/jaredhanson/passport-facebook/issues/12#issuecomment-5913711
        if (window.location.hash && window.location.hash === "#_=_" && window.history && window.history.replaceState) {
            window.history.replaceState("", document.title, window.location.pathname);
        }
    </script>
</div>
</body>
</html>